#main-container{
    /* border : 5px solid green; */
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

#title-container{
    border : 3px solid rgb(255, 22, 142);
    border-radius : 30px;
    /* height: 10vh; */
    align-self: start;
    justify-self: center;
    padding: 20px;
    margin-top: 10vh;
}

#input-area{
    /* border : 5px solid rgb(255, 70, 70); */
    background-color: rgb(44, 44, 44);
    border-radius: 30px ;
    box-shadow: 1px 1px 10px 3px;
    display : grid;
    grid-template-columns: 1fr 1fr;
    /* width: 50vw; */
    justify-self: center;
    align-self: start;
    margin-top: -15vh;
    border-radius: 25px;
    padding : 15px;
}

#input-container{
    /* border : 5px solid rgb(255, 211, 16); */
    justify-self: center;
}

#button-container{
    /* border : 5px solid rgb(251, 36, 255); */
}

.input-button{
    display : none;
}

#next-question-container{
    /* border : 5px solid rgb(255, 0, 0); */
    /* background-color: darkorange; */
    display:none;
    color : white;
    position : absolute;
    top : 35vh;
    /* left : -10vw; */
    width: 50vw;
    /* height: 20vh; */
}

.answers-container{
    /* border : 5px solid rgb(0, 204, 255); */
    display : grid;
    grid-template-columns: 1fr 1fr;
}

.answer-container{
    border : 3px solid rgb(255, 0, 123);
    display : grid;
    grid-template-columns: 1fr 1fr;
}

#results-container{
    /* border : 5px solid rgb(230, 0, 255); */
    background-color: rgb(44, 44, 44);
    border-radius: 30px ;
    box-shadow: 1px 1px 10px 3px;
    display: grid ;
    grid-template-columns: 1fr;
    color : white;
    width: 50vw;
    /* max-height: 40vh; */
    align-self: start;
    justify-self: center;
    
}

.score-announce {
    justify-self: center;
    padding : 10px;
}

.answers-lists {
    display: flex;
    justify-self:center;
}

ul {
    list-style-type: none;
    /* margin-right : 50px; */
}

h4 {
    background-color: rgb(44, 44, 44);
    border-radius: 30px ;
    box-shadow: 1px 1px 5px 1px;
    padding : 10px;
}