#main-container{
    border : 5px solid green;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

#title-container{
    border : 5px solid rgb(32, 151, 255);
    /* height: 10vh; */
    align-self: start;
    justify-self: center;

    margin-top: 10vh;;
}

#input-area{
    border : 5px solid rgb(255, 70, 70);
    display : grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    justify-self: center;
    align-self: start;
    justify-items:center;
    align-items: center;
    margin-top: -15vh;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding : 15px;
}

#input-container{
    /* border : 5px solid rgb(255, 211, 16); */
}

#button-container{
    /* border : 5px solid rgb(251, 36, 255); */
}

.input-button{
    display : none;
}

#next-question-container{
    border : 5px solid rgb(255, 0, 0);
    /* background-color: darkorange; */
    display:none;
    color : white;
    position : absolute;
    top : 40vh;
    /* left : -10vw; */
    width: 50vw;
    /* height: 20vh; */
}

.answers-container{
    border : 5px solid rgb(0, 204, 255);
    display : grid;
    grid-template-columns: 1fr 1fr;
}

#results-container{
    border : 5px solid rgb(230, 0, 255);
    /* background-color: darkorange; */
    color : white;
    width: 50vw;
    /* height: 20vh; */
    align-self: start;
    justify-self: center;

}